/* ---------------------- */
/* Custom properties      */
/* ---------------------- */
:root {
  --ff-main: 'Inter', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text-main: #2b283a;
    --clr-text-light: #918e9b;

    --clr-background-light: #ffffff;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text-main: #fff;
    --clr-text-light: #e5e5e5;

    --clr-background-light: #1d1d1c;
  }
}

/* ---------------------- */
/* Starter                 */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

html {
  font-family: var(--ff-main);
  margin: 0;
  padding: 0;
  background-color: var(--clr-background-light);
  scroll-behavior: smooth;
}

/* Main css */
body {
  font-family: 'Karla', sans-serif;
  margin: 0;
}
/* NAVBAR */

.header {
  display: flex;
  align-items: center;
  height: 80px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
  gap: 0.5em;
}

main {
  padding: 1em;
  align-items: center;
  justify-content: center;
}

/* every input takes one fraction */
.meme--form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1em;
  margin-bottom: 30px;
}

.app--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.form--input {
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 7px;
  height: 150%;
}
.app--project {
  font-size: 12px;
  font-weight: 500;
}

/* grid column from beginning to end */
.form--button {
  grid-column: 1 / -1;
  border-radius: 12px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  border: 2px solid #672280;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  margin-top: 20px;
  height: 100%;
}

.meme {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
